<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212394662533-dgteiftoeqikamv89k1jvv0q88081490.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212394662533-dgteiftoeqikamv89k1jvv0q88081490</string>
	<key>API_KEY</key>
	<string>AIzaSyCds2nNM3eTiYVdyKwnh5dLlCEHXCGVOgw</string>
	<key>GCM_SENDER_ID</key>
	<string>212394662533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>my-project-1512829089426</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-1512829089426.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212394662533:ios:e6cb5d6a26f4992c1ca7ec</string>
</dict>
</plist>